*{
    padding:0;
    margin:0;
}
.content{
    background-color: white;
    padding:0;
    margin:0;
    height: 2000px;
    width:100%;
}
.title{
    height: 50px;
    background-color: royalblue;
    margin:0 auto;
}
.title img{
    float: left;
    margin-left: 50px;
}
#titleRight{
    float: right;
    margin-top: -40px;
    margin-right: 150px;
}
#titleRight input{
    float: left;
    margin-right: 100px;
    border-radius: 5px;
    padding:5px 20px;
}
#titleRight2 {
    float: right;
    margin-top: -25px;
    margin-left: 10px;
}
#titleRight2 span{
    float: right;
    margin-top:5px;
    font-size: small;
}
/*左边区域*/
.aside{
    width: 13%;
    float: left;
    background-color: slategrey;
    text-align: left;
    padding: 20px;
    margin:0 auto;
}
.aside ul li{
    list-style: none;
}
#aside1 img{
    float: left;
    padding-left: 30px;
    padding-top: 30px;
    width: 50px;
    height: 50px;
    border-radius:25px 25px 25px 25px;
}
#aside1right{
    float: right;
    padding-right: 30px;
    padding-top: 50px;
}
#aside2 ul li{
    margin-right: 0;
    display: inline-block;
}
#aside2aside{
    margin-top: 20px;
    margin-left: -30px;
    padding-right: 10px;
    border-right: 2px solid black;
}
#aside2right{
    padding-left: 10px;
}

#aside3Title{
   display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-left: 40px;
    width: 100px;
}
#aside3TitleRight{
    float: right;
}
#aside3 ul{

}
    /*多级目录问题*/
#aside3 li>ul{
    display: none;

}
#aside3 li:hover>ul{
    display:block;
}
#aside3 ul{
    padding-left: 80px;
}
#aside3Massage{
    padding-left:0;
    padding-top: 5px;
}
#aside4 img{
    float: left;
    padding-left: 40px;
    padding-top: 10px;
}
#aside41{
    float: right;
    padding-right: 30px;
    padding-top: 10px;
}
#aside5 img{
    float: left;
    padding-left: 40px;
    padding-top: 50px;
    margin-left: -75px;
}
#aside51{
    float: right;
    padding-right: 30px;
    padding-top: 20px;
}
#aside6 img{
    float: left;
    margin-left: 0;
    padding-left: 40px;
    padding-top: 60px;
}
#aside61{
    float: right;
    padding-right: 60px;
    padding-top: 30px;
}
#aside7 img{
    float: left;
    margin-left: -32px;
    margin-top: 30px;
    padding-top: 40px;
}
#aside71{
    float: right;
    padding-right: 33px;
    padding-top: 25px;
}
#aside8 img{
    float: left;
    margin-left: -35px;
    margin-top: 37px;
    padding-top: 20px;
}
#aside81{
    float: right;
    padding-right: 30px;
    padding-top: 20px;
}
/*右边区域*/
.right{
    text-align: center;
    overflow: hidden;
    width: 83%;
}
#rightTitle{
    background-color: white;
    height: 10px;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    color: slategrey;
}
#rightTitle span{
    color: royalblue;
}
#rightMassage{
    background-color: lightgray;
    margin-top: 20px;
    padding: 10px;
}
#rightMassage1{
    padding-left: 10px;
    padding-bottom: 0;
    padding-top: 10px;
    background-color: white;
    height: 100px;
    display: -webkit-flex;
    justify-content: flex-start;
}
#rightMassage1 select,input{
    padding:5px 20px;
    margin-bottom: 5px;
}
#rightMassage11{
    float: left;
    padding-right: 30px;
}
#rightMassage12{
    float: right;
    padding-right: 40px;
}
#rightMassage112{
    float: left;
}
#rightMassage13{
    float:right;
    padding-right: 450px;
    text-align: left;
}
#rightMassage1123{
    float: left;
}
#rightMassage15{
    float: right;
    margin-right: 100px;
    margin-top: -50px;
}
#rightMassage14{
    margin-left: 650px;
    padding-top: 0;
    position: absolute;
    text-align: right;
}
#rightMassage2{
    margin-bottom: 20px;
}
#rightMassage2 ul{
    float: left;
}
#rightMassage2 li{
    display:inline;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px;
    background-color: white;
    margin: 10px;
}
#rightMassage2 li:hover{
    border-top: 2px solid blue;
}
#rightMassage2 li .time_1{
    border-top: 2px solid blue;
}
#money1,#money2,#money3,#money4,#money5,#money6{
    color:red;
    font-size: larger;
}
#rightMassage2 span{
    color: grey;
    font-size: 1em;
}
#rightMassage2Right{
    padding-left: 200px;
    padding-top: 30px;

}
#rightMassage3{
    height: 150px;
}
#total{
    margin-left:0;
    margin-right: 920px;
    padding-left: 0;
}
#rightMassage3content{
    display: flex;
    justify-content: flex-start;
}
#rightMassage31{
    border-left: 3px solid green;
    padding: 10px ;
    background-color: white;
    margin-top: 10px;
    margin-right: 30px;
    width: 210px;
}
#rightMassage31aside{
    float: left;
    margin-left: 5px;
}
#rightMassage31Right{
    float: right;
    background-color: green;
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
#rightMassage32{
    float: right;
    border-left: 3px solid blue;
    padding: 10px ;
    background-color: white;
    margin-top: 10px;
    margin-right: 30px;
    width: 210px;
}
#rightMassage32aside{
    float: left;
    margin-left: 5px;
}
#rightMassage32Right{
    float: right;
    background-color: blue;
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
#rightMassage34{
    float: right;
    border-left: 3px solid yellow;
    padding: 10px ;
    background-color: white;
    margin-top: 10px;
    margin-right: 30px;
    width:210px;
}
#rightMassage34aside{
    float: left;
    margin-left: 5px;
}
#rightMassage34Right{
    float: right;
    background-color: yellow;
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
#rightMassage33{
    border-left: 3px solid indianred;
    padding: 10px ;
    background-color: white;
    margin-top: 10px;
    margin-right: 30px;
    width: 210px;
}
#rightMassage33aside{
    float: left;
    margin-left: 5px;
}
#rightMassage33Right{
    float: right;
    background-color: indianred;
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
/*倒数第二行内容*/
#rightMassage4{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
#rightMassage4aside{
    width: 500px;
    height: 200px;
    border-radius: 2px;
    border: 1px solid gray;
    padding-left: 10px;
    margin-right: 20px;
}
#rightMassage4asideMassage li{
    list-style: none;
    float: left;
}
#rightMassage4asideMassage li>table{
    display: none;
}
#rightMassage4asideMassage1>table{
    display: block;
}
#rightMassage4asideMassage li:hover>table{
    display: block;
}

#rightMassage4Right{
    float: right;
    border-radius: 2px;
    border: 1px solid gray;
    padding-left: 10px;
    width: 480px;
}
#rightMassage5{
    display: flex;
    justify-content: center;
}
#rightMassage5aside{
    width:45%;
}
#rightMassage5Right{
    border: 1px solid gray;
    width: 45%;
    margin-left: 40px;
}
#rightMassage5Right table {
    margin-left: 180px;
}
#rightMassage5Right table th,#rightMassage5Right table td {
    border: 1px solid black;
}